* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .blue-links {
  color: #006DFE;
}
body .blue-links img {
  padding-left: 24px;
}
body .blue-links:hover, body .blue-links:focus, body .blue-links:active {
  opacity: 0.7;
  transform: scale(1.05);
}
body hr {
  border: none;
  height: 2px;
  width: 252px;
  background-color: #006DFE;
  margin-top: 7px;
  margin-bottom: 35px;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 88.5vh;
  background: url("./images/background.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 300px;
}
@media (max-width: 1440px) {
  .header {
    min-height: 63.5vh;
  }
}
.header h1 {
  font-style: normal;
  font-size: 3.125em;
  font-weight: 500;
  color: #FFFFFF;
  margin: 176px 0 22px;
}
@media (max-width: 1440px) {
  .header h1 {
    max-width: 620px;
  }
}
@media (max-height: 767px) {
  .header h1 {
    margin-top: 70px;
    font-size: 1.5em;
  }
}
.header p {
  letter-spacing: 0.01em;
}
.header .text {
  max-width: 640px;
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (max-width: 1440px) {
  .header .text {
    font-size: 1em;
    max-width: 550px;
  }
}
.header .container {
  width: 73.5vw;
  margin: 0 auto;
}
@media (min-width: 1441px) {
  .header .container {
    width: 63vw;
  }
}
.header .header_nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
}
@media (max-width: 767px) {
  .header .header_nav .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #0E1D28;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
}
.header .header_nav .nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.header .header_nav .nav ul .header-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  color: #FFFFFF;
  margin-left: 82px;
  display: block;
}
@media (max-width: 940px) {
  .header .header_nav .nav ul .header-link {
    margin-left: 50px;
  }
}
.header .header_nav .nav ul .header-link:hover, .header .header_nav .nav ul .header-link:focus, .header .header_nav .nav ul .header-link:active {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .header .header_nav .nav ul {
    flex-direction: column;
    padding: 70px;
  }
  .header .header_nav .nav ul .header-link {
    margin: 0 0 30px 0;
    font-style: normal;
    font-size: 2.188em;
    font-weight: 500;
    color: #102746;
    color: #ffffff;
  }
}
.header .header_nav .nav .nav-close {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  z-index: 11;
}
@media (max-width: 767px) {
  .header .header_nav .nav .nav-close {
    display: block;
  }
}
.header .header_nav .nav .nav-close .close-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
}
.header .header_nav .nav .nav-close .close-line:first-child {
  transform: rotate(45deg);
}
.header .header_nav .nav .nav-close .close-line:last-child {
  transform: rotate(-45deg);
}
.header .header_nav .active {
  transform: translateX(0);
}
.header .header_nav .burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .header_nav .burger-menu {
    display: block;
  }
}
.header .header_nav .burger-menu .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 28px;
}
.header .header_nav .burger-menu .burger .burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.header .search-info {
  display: flex;
}
@media (max-width: 1164px) {
  .header .search-info {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.header .search-info .search-field {
  width: 297px;
  background: transparent url("./images/Oval.svg") no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin: 60px 60px 0 0;
  padding: 0 0 22px 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  color: white;
}
@media (max-height: 767px) {
  .header .search-info .search-field {
    font-size: 1em;
  }
}
@media (max-width: 1164px) {
  .header .search-info .search-field {
    margin: 80px 60px 0 0;
  }
}
.header .search-info .search-field::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  color: white;
}
.header .search-info .search-field:focus {
  outline: none;
}
.header .search-info .search-btn {
  margin-top: 55px;
  width: 171px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 1.813em;
  border: none;
}
.header .search-info .search-btn:hover, .header .search-info .search-btn:focus, .header .search-info .search-btn:active {
  background: #1364d0;
  outline: none;
  transform: scale(1.05);
}

/* Benefits styles */
.benefits {
  position: relative;
  max-width: 87.5vw;
  padding: 0 7%;
  margin: 0 auto 130px;
  background: #FFFFFF;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}
@media (min-width: 1441px) {
  .benefits {
    width: 70vw;
  }
}
.benefits h2 {
  font-style: normal;
  font-size: 2.188em;
  font-weight: 500;
  color: #102746;
  width: 100%;
  position: absolute;
  padding: 93px 100px 88px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}
@media (max-width: 767px) {
  .benefits h2 {
    padding-left: 7%;
  }
}
.benefits .benefits-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4vw;
  margin-top: 34px;
}
.benefits .benefits-items .benefits-item {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits .benefits-items .benefits-item .item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  margin-bottom: 20px;
}
.benefits .benefits-items .benefits-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.benefits .benefits-items .benefits-item .benefits-img {
  margin-bottom: 37px;
}
@media (max-width: 767px) {
  .benefits .benefits-items .benefits-item {
    margin-bottom: 50px;
  }
  .benefits .benefits-items .benefits-item p {
    margin-bottom: 20px;
  }
}
.benefits .benefits-items #shop {
  margin-top: 6px;
}
@media (min-width: 768px) and (max-width: 998px) {
  .benefits .benefits-items #temple-text, .benefits .benefits-items #man-text {
    margin-top: 50px;
  }
}
@media (max-width: 961px) {
  .benefits .benefits-items #man-text {
    margin-top: 22px;
  }
}
@media (max-width: 767px) {
  .benefits .benefits-items {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
}
@media (max-height: 767px) {
  .benefits {
    margin-bottom: 50px;
  }
  .benefits h2 {
    font-size: 1.5em;
    padding: 50px 100px 50px 7%;
  }
  .benefits .benefits-items {
    margin-top: 0;
  }
  .benefits .benefits-img {
    margin-bottom: 37px;
  }
}

/* Next-trip styles */
.next-trip {
  max-width: 87.5vw;
  margin: auto;
}
@media (min-width: 1441px) {
  .next-trip {
    width: 70vw;
  }
}

.next-trip-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.next-trip-title h2 {
  font-style: normal;
  font-size: 2.188em;
  font-weight: 500;
  color: #102746;
}
.next-trip-title .view-all {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .next-trip-title {
    flex-direction: column;
    justify-content: space-around;
  }
  .next-trip-title .view-all {
    margin: 0 0 35px 0;
  }
}

.next-trip-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 130px;
}
@media (max-height: 767px) {
  .next-trip-cards {
    margin-bottom: 50px;
  }
}
.next-trip-cards .next-trip-card {
  position: relative;
  overflow: hidden;
}
.next-trip-cards .next-trip-card img {
  width: 100%;
  object-fit: cover;
}
.next-trip-cards .next-trip-card:hover img, .next-trip-cards .next-trip-card:focus img, .next-trip-cards .next-trip-card:active img {
  transform: scale(1.05);
}
.next-trip-cards .size-lg {
  grid-column: span 3;
}
.next-trip-cards .size-lg img {
  height: 354px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .next-trip-cards .size-lg {
    grid-column: span 6;
  }
  .next-trip-cards .size-lg img {
    height: 283px;
  }
}
.next-trip-cards .size-sm {
  grid-column: span 2;
}
.next-trip-cards .size-sm img {
  height: 283px;
}
@media (max-width: 767px) {
  .next-trip-cards .size-sm {
    grid-column: span 6;
  }
}
.next-trip-cards .name {
  font-style: normal;
  font-size: 3.125em;
  font-weight: 500;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
}
.next-trip-cards .next-trip-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* Temples styles */
.temples {
  max-width: 87.5vw;
  margin: 0 auto 70px;
}
@media (min-width: 1441px) {
  .temples {
    width: 70vw;
    margin: auto;
  }
}
.temples .prefecture, .temples .neighborhood {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}
.temples .prefecture .prefecture-text, .temples .prefecture .neighborhood-text, .temples .neighborhood .prefecture-text, .temples .neighborhood .neighborhood-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}
.temples .prefecture .prefecture-text .prefecture-title, .temples .prefecture .prefecture-text .neighborhood-title, .temples .prefecture .neighborhood-text .prefecture-title, .temples .prefecture .neighborhood-text .neighborhood-title, .temples .neighborhood .prefecture-text .prefecture-title, .temples .neighborhood .prefecture-text .neighborhood-title, .temples .neighborhood .neighborhood-text .prefecture-title, .temples .neighborhood .neighborhood-text .neighborhood-title {
  font-style: normal;
  font-size: 1.875em;
  font-weight: 500;
  line-height: 40px;
  color: #102746;
}
@media (max-width: 949px) {
  .temples .prefecture .prefecture-text .prefecture-title, .temples .prefecture .prefecture-text .neighborhood-title, .temples .prefecture .neighborhood-text .prefecture-title, .temples .prefecture .neighborhood-text .neighborhood-title, .temples .neighborhood .prefecture-text .prefecture-title, .temples .neighborhood .prefecture-text .neighborhood-title, .temples .neighborhood .neighborhood-text .prefecture-title, .temples .neighborhood .neighborhood-text .neighborhood-title {
    margin-bottom: 10px;
  }
}
.temples .prefecture .prefecture-text, .temples .neighborhood .prefecture-text {
  padding: 0 32px 0 32px;
}
.temples .prefecture .neighborhood-text, .temples .neighborhood .neighborhood-text {
  padding: 0 22px 0 42px;
}
.temples .prefecture .neighborhood-text p, .temples .neighborhood .neighborhood-text p {
  margin-bottom: 26px;
}
.temples .prefecture .neighborhood-text .neighborhood-title, .temples .neighborhood .neighborhood-text .neighborhood-title {
  max-width: 357px;
}
.temples .prefecture .prefecture-text, .temples .prefecture .neighborhood-text, .temples .prefecture .prefecture-img, .temples .prefecture .neighborhood-img, .temples .neighborhood .prefecture-text, .temples .neighborhood .neighborhood-text, .temples .neighborhood .prefecture-img, .temples .neighborhood .neighborhood-img {
  width: 47%;
  object-fit: cover;
}
@media (max-width: 949px) {
  .temples .prefecture .prefecture-text, .temples .prefecture .neighborhood-text, .temples .prefecture .prefecture-img, .temples .prefecture .neighborhood-img, .temples .neighborhood .prefecture-text, .temples .neighborhood .neighborhood-text, .temples .neighborhood .prefecture-img, .temples .neighborhood .neighborhood-img {
    width: 100%;
    padding: 0;
  }
  .temples .prefecture .prefecture-text .neighborhood-title, .temples .prefecture .neighborhood-text .neighborhood-title, .temples .prefecture .prefecture-img .neighborhood-title, .temples .prefecture .neighborhood-img .neighborhood-title, .temples .neighborhood .prefecture-text .neighborhood-title, .temples .neighborhood .neighborhood-text .neighborhood-title, .temples .neighborhood .prefecture-img .neighborhood-title, .temples .neighborhood .neighborhood-img .neighborhood-title {
    max-width: 100%;
  }
  .temples .prefecture .prefecture-text p, .temples .prefecture .neighborhood-text p, .temples .prefecture .prefecture-img p, .temples .prefecture .neighborhood-img p, .temples .neighborhood .prefecture-text p, .temples .neighborhood .neighborhood-text p, .temples .neighborhood .prefecture-img p, .temples .neighborhood .neighborhood-img p {
    margin: 0;
  }
  .temples .prefecture .prefecture-text .temples-links, .temples .prefecture .neighborhood-text .temples-links, .temples .prefecture .prefecture-img .temples-links, .temples .prefecture .neighborhood-img .temples-links, .temples .neighborhood .prefecture-text .temples-links, .temples .neighborhood .neighborhood-text .temples-links, .temples .neighborhood .prefecture-img .temples-links, .temples .neighborhood .neighborhood-img .temples-links {
    margin: 10px 0 25px;
  }
}
@media (max-width: 949px) {
  .temples .prefecture {
    flex-direction: column-reverse;
  }
  .temples .neighborhood {
    flex-direction: column;
  }
}
@media (max-height: 767px) {
  .temples .prefecture {
    margin-bottom: 50px;
  }
  .temples .neighborhood {
    margin-bottom: 0;
  }
}

/* Places styles */
.places {
  margin: 0 auto 114px;
  width: 88.5vw;
}
@media (max-height: 767px) {
  .places {
    margin-bottom: 50px;
  }
}
@media (min-width: 1441px) {
  .places {
    width: 70vw;
  }
}
.places h2 {
  font-style: normal;
  font-size: 2.188em;
  font-weight: 500;
  color: #102746;
}

.top-places {
  margin: 55px 0 31px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 53px;
  grid-row-gap: 58px;
}
@media (max-width: 767px) {
  .top-places {
    grid-template-columns: 1fr;
  }
}
.top-places .place-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top-places .place-card img {
  max-height: 386px;
  object-fit: cover;
  margin-bottom: 45px;
}
.top-places .place-card p {
  line-height: 1.5em;
  max-width: 386px;
}
.top-places .more {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  margin-top: 30px;
  width: 118px;
  height: 42px;
  background: #006DFE;
  color: #FFFFFF;
  border: none;
}
.top-places .more:hover, .top-places .more:focus, .top-places .more:active {
  background: #1364d0;
  outline: none;
  transform: scale(1.05);
}

/* Footer styles */
.footer {
  width: 100vw;
  background: #0E1D28;
}
.footer .video {
  position: relative;
  width: 100vw;
}
.footer .video .video-img {
  width: 100%;
}
.footer .video .play-btn {
  width: 10vw;
  height: 10vh;
  position: absolute;
  top: 45%;
  left: 43%;
  z-index: 2;
}
.footer .video .play-btn:hover, .footer .video .play-btn:focus, .footer .video .play-btn:active {
  outline: none;
  transform: scale(1.05);
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 117px;
  margin: auto;
  width: 75vw;
  min-height: 370px;
}
@media (max-width: 922px) {
  .footer .footer-content {
    width: 90vw;
  }
}
@media (max-height: 767px) {
  .footer .footer-content {
    padding: 50px 0;
    height: auto;
  }
}
.footer .footer-logo {
  width: 170px;
  height: 64px;
}
.footer .links, .footer .column-links {
  display: flex;
}
.footer .column-links {
  flex-direction: column;
  margin-right: 140px;
}
.footer .column-links:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .footer .column-links {
    margin-right: 75px;
  }
}
.footer h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  color: #ffffff;
}
.footer li {
  margin-top: 7px;
}
.footer .footer-link {
  color: #FFFFFF;
}
.footer .footer-link:hover, .footer .footer-link:focus, .footer .footer-link:active {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .footer .footer-content {
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 100%;
  }
  .footer .footer-content .footer-logo {
    width: 100px;
    height: 50px;
  }
  .footer .links {
    width: 90vw;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer .column-links {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
