@mixin large-text {
  font: {
    style: normal;
    size: 3.125em;
    weight: 500;
  }
  color: #FFFFFF;
}

@mixin h2-text {
  font: {
    style: normal;
    size: 2.188em;
    weight: 500;
  }
  color: #102746;
}

@mixin h3-text {
  font: {
    style: normal;
    size: 1.875em;
    weight: 500;
  }
  line-height: 40px;
  color: #102746;
}

@mixin middle-text {
  font: {
    style: normal;
    weight: normal;
    size: 1.125em;
  }
}

@mixin normal-text {
  font: {
    style: normal;
    weight: normal;
    size: 1em;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .blue-links {
    color: #006DFE;

    img {
      padding-left: 24px;
    }

    &:hover, &:focus, &:active {
      opacity: 0.7;
      transform: scale(1.05);
    }
  }

  hr {
    border: none;
    height: 2px;
    max-width: 252px;
    background-color: #006DFE;
    margin-top: 7px;
    margin-bottom: 35px;
  }
}

/* Header styles */

.top {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 88.5vh;
  @media (max-width: 1440px) {
    min-height: 63.5vh;
  }
  background: url("./images/background.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 300px;

  h1 {
    @include large-text;
    margin: 176px 0 22px;
    @media (max-width: 1440px) {
      max-width: 620px;
    }
    @media (max-height: 767px) {
      margin-top: 70px;
      font-size: 1.5em;;
    }
  }

  p {
    letter-spacing: 0.01em;
  }

  .text {
    max-width: 640px;
    font-size: 1.2em;
    @media (max-width: 1440px) {
      font-size: 1em;
      max-width: 550px;
    }
    line-height: 1.5em;
  }

  .container {
    width: 73.5vw;
    margin: 0 auto;
    @media (min-width: 1441px) {
      width: 63vw;
    }
    @media (max-width: 767px) {
      width: 94vw;
    }
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;

    .nav {
      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #0E1D28;
        z-index: 10;
        transform: translateX(100%);
        transition: 0.2s all linear;
      }

      ul {
        display: flex;
        justify-content: space-between;
        padding-top: 6px;

        .header-link {
          @include middle-text;
          color: #FFFFFF;
          margin-left: 82px;
          @media (max-width: 940px) {
            margin-left: 50px;
          }
          display: block;

          &:hover, &:focus, &:active {
            opacity: .7;
          }
        }

        @media (max-width: 767px) {
          flex-direction: column;
          padding: 70px;
          .header-link {
            margin: 0 0 30px 0;
            @include h2-text;
            color: #ffffff;
          }
        }
      }

      .nav-close {
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 11;

        .close-line {
          display: block;
          width: 100%;
          height: 2px;
          background-color: #ffffff;
          position: absolute;
          top: 50%;

          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .active {
      transform: translateX(0);
    }

    .burger-menu {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }

      .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 28px;

        .burger-line {
          display: block;
          width: 100%;
          height: 2px;
          background-color: #ffffff;
        }
      }
    }
  }

  .search-info {
    display: flex;
    @media (max-width: 1164px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    .search-field {
      width: 297px;
      background: transparent url("./images/Oval.svg") no-repeat left 6px;
      background-size: 20px;
      border: 0;
      border-bottom: 2px solid #BFC0C5;
      margin: 60px 60px 0 0;
      padding: 0 0 22px 43px;
      @include middle-text;
      color: white;
      @media (max-height: 767px) {
        font-size: 1em;
      }
      @media (max-width: 1164px) {
        margin: 80px 60px 0 0;
      }
      @media (max-width: 315px) {
        width: 90vw;
      }
    }

    .search-field::placeholder {
      @include middle-text;
      color: white;
    }

    .search-field:focus {
      outline: none;
    }

    .search-btn {
      margin-top: 55px;
      width: 171px;
      height: 58px;
      background: #1B7DFF;
      color: #FFFFFF;
      font-size: 1.5em;
      line-height: 1.813em;
      border: none;

      &:hover, &:focus, &:active {
        background: #1364d0;
        outline: none;
        transform: scale(1.05);
      }
    }
  }
}

.wrapper {
  max-width: 87.5vw;
  margin: 0 auto;
  @media (min-width: 1441px) {
    width: 70vw;
  }
}

/* Benefits styles */

.benefits {
  position: relative;
  padding: 0 7%;
  margin-bottom: 130px;
  background: #FFFFFF;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);

  h2 {
    @include h2-text;
    width: 100%;
    position: absolute;
    padding: 93px 100px 88px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
    @media (max-width: 767px) {
      padding-left: 7%;
    }
  }

  .benefits-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
    margin-top: 34px;

    .benefits-item {
      grid-column: span 1;
      margin-bottom: 112px;

      .item-title {
        @include middle-text;
        margin-bottom: 20px;
      }

      p {
        @include normal-text;
        line-height: 1.5em;
        margin-bottom: 40px;
      }

      .benefits-img {
        margin-bottom: 37px;
      }
    }

    #shop {
      margin-top: 6px;
    }

    @media (min-width: 768px) and (max-width: 998px) {
      #temple-text, #man-text {
        margin-top: 50px;
      }
      @media (max-width: 767px) {
        margin-bottom: 50px;
        p {
          margin-bottom: 20px;
        }
      }
    }
    @media (max-width: 961px) {
      #man-text {
        margin-top: 22px;
      }
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
    }
  }

  @media (max-height: 767px) {
    margin-bottom: 50px;
    h2 {
      font-size: 1.5em;
      padding: 50px 100px 50px 7%;
    }
    .benefits-items {
      margin-top: 0;
    }
    .benefits-img {
      margin-bottom: 37px;
    }
  }
}

/* Next-trip styles */

.next-trip-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    @include h2-text;
  }

  .view-all {
    margin-top: 18px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: space-around;
    .view-all {
      margin: 0 0 35px 0;
    }
  }
}

.next-trip-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 130px;
  @media (max-height: 767px) {
    margin-bottom: 50px;
  }

  .next-trip-card {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }

    &:hover, &:focus, &:active {
      img {
        transform: scale(1.05);
      }
    }

    @media (max-width: 767px) {
      grid-column: span 6;
    }
  }

  .size-lg {
    grid-column: span 3;

    img {
      height: 354px;
      overflow: hidden;
    }
  }

  .size-sm {
    grid-column: span 2;

    img {
      height: 283px;
    }
  }

  @media (max-width: 767px) {
    .size-lg, .size-sm {
      grid-column: span 6;
      img {
        height: 283px;
      }
    }
  }

  .name {
    @include large-text;
    position: absolute;
    bottom: 27px;
    left: 29px;
  }

  .next-trip-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

/* Temples styles */

.temples {
  margin-bottom: 70px;

  .prefecture, .neighborhood {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;

    .prefecture-text, .neighborhood-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      line-height: 1.5em;
      letter-spacing: 0.01em;

      .prefecture-title, .neighborhood-title {
        @include h3-text;
        @media (max-width: 949px) {
          margin-bottom: 10px;
        }
      }
    }

    .prefecture-text {
      padding: 0 32px 0 32px;
    }

    .neighborhood-text {
      padding: 0 22px 0 42px;

      p {
        margin-bottom: 26px;
      }

      .neighborhood-title {
        max-width: 357px;
      }
    }

    .prefecture-text, .neighborhood-text, .prefecture-img, .neighborhood-img {
      width: 47%;
      object-fit: cover;
      @media (max-width: 949px) {
        width: 100%;
        padding: 0;
        .neighborhood-title {
          max-width: 100%;
        }
        p {
          margin: 0;
        }
        .temples-links {
          margin: 10px 0 25px;
        }
      }
    }
  }

  @media (max-width: 949px) {
    .prefecture {
      flex-direction: column-reverse;
    }
    .neighborhood {
      flex-direction: column;
    }
  }
  @media (max-height: 767px) {
    .prefecture {
      margin-bottom: 50px;
    }
    .neighborhood {
      margin-bottom: 0;
    }
  }
}

/* Places styles */

.places {
  margin: 0 auto 114px;
  width: 88.5vw;
  @media (max-height: 767px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1441px) {
    width: 70vw;
  }

  h2 {
    @include h2-text;
  }
}

.top-places {
  margin: 55px 0 31px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 53px;
  grid-row-gap: 58px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .place-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      max-height: 386px;
      object-fit: cover;
      margin-bottom: 45px;
    }

    p {
      line-height: 1.5em;
      max-width: 386px;
    }
  }

  .more {
    @include normal-text;
    margin-top: 30px;
    width: 118px;
    height: 42px;
    background: #006DFE;
    color: #FFFFFF;
    border: none;

    &:hover, &:focus, &:active {
      background: #1364d0;
      outline: none;
      transform: scale(1.05);
    }
  }
}

/* Video styles */

.video {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* Footer styles */

.footer {
  width: 100vw;
  background: #0E1D28;

  .video {
    position: relative;
    width: 100vw;

    .video-img {
      width: 100%;
    }

    .play-btn {
      width: 10vw;
      height: 10vh;
      position: absolute;
      top: 45%;
      left: 43%;
      z-index: 2;

      &:hover, &:focus, &:active {
        outline: none;
        transform: scale(1.05);
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 117px;
    margin: auto;
    width: 75vw;
    min-height: 370px;
    @media (max-width: 922px) {
      width: 90vw;
    }
    @media (max-width: 620px) {
      padding: 50px 0;
      height: auto;
      flex-direction: column;
      min-height: 100%;
    }

    .footer-logo {
      width: 170px;
      height: 64px;
      @media (max-width: 767px) {
        width: 100px;
        height: 50px;
      }
    }

    .links, .column-links {
      display: flex;
      @media (max-width: 767px) {
        .links {
          width: 90vw;
          justify-content: space-between;
          margin-top: 50px;
        }
        .column-links {
          margin-right: 20px;
        }
      }
      @media (max-width: 280px) {
        flex-direction: column;
        margin: 0 0 30px;
      }
    }

    .column-links {
      flex-direction: column;
      margin-right: 140px;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 1200px) {
        margin-right: 75px;
      }
    }

    h3 {
      @include middle-text;
      color: #ffffff;
    }

    li {
      margin-top: 7px;
    }

    .footer-link {
      color: #FFFFFF;

      &:hover, &:focus, &:active {
        opacity: .7;
      }
    }
  }
}
