* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
  a {
    text-decoration: none;
  }
  .blue-links {
    color: #006DFE;
    img {
      margin-left: 24px;
    }
  }
}


#section-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;

  h1 {
    margin: 176px 0 22px;
    font: {
      size: 3.125em;
      weight: 500;
    }
    @media (max-width: 1440px) {
      max-width: 620px;
    }
  }
  p {
    letter-spacing: 0.01em;
  }
  .text {
    max-width: 640px;
    font-size: 1.2em;
    @media (max-width: 1440px) {
      font-size: 1em;
      max-width: 550px;
    }
    line-height: 1.5em;
  }
}

.container {
  width: 73.5vw;
  margin: 0 auto;
    @media (min-width: 1441px) {
      width: 50vw;
    }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;;

  ul {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }
  li {
    list-style: none;
  }
  a, .sign-in {
    text-decoration: none;
    font-size: 1.125em;
    color: #FFFFFF;
    margin-left: 82px;
  }
}

//.top-content {
//  display: flex;
//  flex-direction: column;
//  @media (min-width: 1439px) {
//    align-items: center;
//  }
//}

.questions {
  max-width: 887px;
  display: flex;
  justify-content: space-between;

  .question {
    margin-top: 32px;
    height: 7.5vh;
      @media (max-width: 1440px) {
        width: 20.7vw;
      }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #BFC0C5;
    p {
      padding-left: 25px;
      font-size: 1.125em;
    }
  }

  .search {
    margin-top: 55px;
    width: 171px;
    height: 58px;
    background: #1B7DFF;
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 1.813em;
    border: none;
  }
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  padding: 0 7% 5%;
  width: 87.5vw;
  height: 61.5vh;
  top: 69vh;
  left: 6.2vw;
  background: #FFFFFF;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
  z-index: 1;
  h2 {
    font: {
      style: normal;
      weight: 500;
      size: 2.188em;
    }
    line-height: 2.625;
  }
}

.benefits-items {
  position: relative;
  top: 27px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4vw;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 27vh;
    p {
      line-height: 1.5em;
      position: relative;
      bottom: 5px;
    }
    //a {
    //  text-decoration: none;
    //  color: #006DFE;
    //}
    //.arrow {
    //  margin-left: 24px;
    //}
  }
  #shop {
    position: relative;
    top: 10px;
  }
  #promoting {
    position: relative;
    top: 8px;
  }
}

#section-2 {
  position: relative;
  top: 50vh;
  padding: 0 7% 5%;
}

.sect-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
