@mixin large-text {
  font: {
    style: normal;
    size: 3.125em;
    weight: 500;
  }
  color: #FFFFFF;
}

@mixin h2-text {
  font: {
    style: normal;
    size: 2.188em;
    weight: 500;
  }
  color: #102746;
}

@mixin middle-text {
  font: {
    style: normal;
    weight: normal;
    size: 1.125em;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .blue-links {
    color: #006DFE;
    img {
      padding-left: 24px;
    }
  }
  .blue-links:hover, .blue-links:focus, .blue-links:active {
    opacity: 0.7;
    transform: scale(1.05);
  }
  hr {
    border: none;
    height: 2px;
    width: 18vw;
    background-color: #006DFE;
    margin-top: 7px;
    margin-bottom: 35px;
  }
}

/* Header styles */

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: url("./images/background.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 300px;

  h1 {
    @include large-text;
    margin: 176px 0 22px;
    @media (max-width: 1440px) {
      max-width: 620px;
    }
  }
  p {
    letter-spacing: 0.01em;
  }
  .text {
    max-width: 640px;
    font-size: 1.2em;
    @media (max-width: 1440px) {
      font-size: 1em;
      max-width: 550px;
    }
    line-height: 1.5em;
  }
  .container {
    width: 73.5vw;
    margin: 0 auto;
    @media (min-width: 1441px) {
      width: 50vw;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;;

    ul {
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
    }
    li {
      list-style: none;
    }
    .header-link {
      @include middle-text;
      text-decoration: none;
      color: #FFFFFF;
      margin-left: 82px;
    }
    .header-link:hover, .header-link:focus, .header-link:active {
      opacity: .7;
    }
  }
  .search-info {
    display: flex;
    .search-field {
      width: 297px;
      background: transparent url("./images/Oval.svg") no-repeat left 6px;
      background-size: 20px;
      border: 0;
      border-bottom: 2px solid #BFC0C5;
      margin: 60px 60px 0 0;
      padding: 0 0 22px 43px;
      @include middle-text;
      color: white;
    }
    .search-field::placeholder {
      @include middle-text;
      color: white;
    }
    .search-field:focus {
      outline: none;
    }
    .search-btn {
      margin-top: 55px;
      width: 171px;
      height: 58px;
      background: #1B7DFF;
      color: #FFFFFF;
      font-size: 1.5em;
      line-height: 1.813em;
      border: none;
    }
    .search-btn:hover, .search-btn:focus, .search-btn:active {
      background: #1364d0;
      outline: none;
      transform: scale(1.05);
    }
  }
}

/* Benefits styles */

.benefits {
  position: relative;
  max-width: 87.5vw;
  padding: 0 7%;
  margin: 0 auto 130px;
  @media (min-width: 1441px) {
    width: 70vw;
  }
  background: #FFFFFF;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
  h2 {
    @include h2-text;
    width: 100%;
    position: absolute;
    padding: 93px 100px 88px 100px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
  }
  .benefits-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4vw;
    .benefits-item {
      grid-column: span 1;
      margin-bottom: 112px;
      .item-title {
        @include middle-text;
      }
      p {
        line-height: 1.5em;
        margin-bottom: 30px;
      }
      .benefits-img {
        margin-bottom: 37px;
      }
    }
    #shop {
      padding-bottom: 5px;
    }
  }
}

/* Next-trip styles */

.next-trip {
  max-width: 87.5vw;
  margin: auto;
  @media (min-width: 1441px) {
    width: 70vw;
  }
}

.next-trip-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    @include h2-text;
  }
}

.next-trip-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-bottom: 130px;
  .next-trip-card {
    position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
  }
  .size-lg {
    grid-column: span 3;
      img {
        height: 354px;
      }
  }
  .size-sm {
    grid-column: span 2;
      img {
        height: 283px;
    }
  }
  .name {
    @include large-text;
    position: absolute;
    bottom: 27px;
    left: 29px;
  }
}

/* Temples styles */

.temples{
  max-width: 87.5vw;
  margin: 0 auto 139px;
  @media (min-width: 1441px) {
    width: 70vw;
    margin: auto;
  }
  .prefecture, .neighborhood {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
  }
  .prefecture-text, .neighborhood-text, .prefecture-img, .neighborhood-img {
    width: 50%;
  }
  .prefecture-text, .neighborhood-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .prefecture-text {
    padding: 0 0 0 108px;
  }
  .neighborhood-text {
    padding: 0 108px 0 53px;
  }
}


/* Places styles */

.places {
  margin: 0 auto 144px;
  width: 87.5vw;
  @media (min-width: 1441px) {
    width: 70vw;
    margin: auto;
  }
  h2 {
    @include h2-text;
  }
}

.top-places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 53px;
  grid-row-gap: 58px;
  .place-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
      img {
        max-height: 386px;
        object-fit: cover;
        margin-bottom: 45px;
      }
  }
  .more {
    margin-top: 31px;
    width: 118px;
    height: 42px;
    background: #006DFE;
    color: #FFFFFF;
    border: none;
  }
}

/* Video styles */

.video {
  position: relative;
  width: 100vw;
  .video-img {
    width: 100%;
  }
  .play-btn {
    position: absolute;
    top: 45%;
    left: 45vw;
    z-index: 2;
  }
}

/* Footer styles */

.footer {
  width: 100vw;
  height: 30vh;
  background: #0E1D28;
}
