* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body a {
  text-decoration: none;
}
body .blue-links {
  color: #006DFE;
}
body .blue-links img {
  margin-left: 24px;
}
body hr {
  border: none;
  height: 2px;
  width: 18vw;
  background-color: #006DFE;
  margin-top: 7px;
}

#section-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}
#section-1 h1 {
  font-style: normal;
  font-size: 3.125em;
  font-weight: 500;
  color: #FFFFFF;
  margin: 176px 0 22px;
}
@media (max-width: 1440px) {
  #section-1 h1 {
    max-width: 620px;
  }
}
#section-1 p {
  letter-spacing: 0.01em;
}
#section-1 .text {
  max-width: 640px;
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (max-width: 1440px) {
  #section-1 .text {
    font-size: 1em;
    max-width: 550px;
  }
}

.container {
  width: 73.5vw;
  margin: 0 auto;
}
@media (min-width: 1441px) {
  .container {
    width: 50vw;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.nav li {
  list-style: none;
}
.nav a, .nav .sign-in {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 82px;
}

.questions {
  max-width: 887px;
  display: flex;
  justify-content: space-between;
}
.questions .question {
  margin-top: 32px;
  height: 7.5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #BFC0C5;
}
@media (max-width: 1440px) {
  .questions .question {
    width: 20.7vw;
  }
}
.questions .question p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  padding-left: 25px;
}
.questions .search {
  margin-top: 55px;
  width: 171px;
  height: 58px;
  background: #1B7DFF;
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 1.813em;
  border: none;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  padding: 0 7% 5%;
  width: 87.5vw;
  height: 61.5vh;
  top: 69vh;
  left: 6.2vw;
  background: #FFFFFF;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
  z-index: 1;
}
@media (min-width: 1441px) {
  .benefits {
    width: 70vw;
    left: 15vw;
  }
}
.benefits h2 {
  font-style: normal;
  font-size: 2.188em;
  font-weight: 500;
  color: #102746;
}

.benefits-items {
  position: relative;
  top: 27px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4vw;
}
.benefits-items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 27vh;
}
.benefits-items .item .item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
}
.benefits-items .item p {
  line-height: 1.5em;
  position: relative;
  bottom: 5px;
}
.benefits-items #shop {
  position: relative;
  top: 10px;
}
.benefits-items #promoting {
  position: relative;
  top: 8px;
}

#section-2 {
  position: relative;
  top: 50vh;
  left: 6.2vw;
  width: 87.5vw;
  height: 100vh;
}
@media (min-width: 1441px) {
  #section-2 {
    width: 70vw;
    left: 15vw;
  }
}

.get-inspired {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.get-inspired h2 {
  font-style: normal;
  font-size: 2.188em;
  font-weight: 500;
  color: #102746;
}

.big-img, .smaller-img {
  display: flex;
}

#places .name {
  font-style: normal;
  font-size: 3.125em;
  font-weight: 500;
  color: #FFFFFF;
  font-weight: bold;
  position: relative;
  bottom: 11vh;
  left: 5vw;
}

.prefecture, .neighborhood {
  display: flex;
  justify-content: space-between;
}

.prefecture-text, .neighborhood-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.prefecture-text {
  padding: 0 0 0 108px;
}

.neighborhood-text {
  padding: 0 108px 0 53px;
}

#section-3 {
  position: relative;
  top: 100vh;
  left: 6.2vw;
  width: 87.5vw;
  height: 100vh;
}
@media (min-width: 1441px) {
  #section-3 {
    width: 70vw;
    left: 15vw;
  }
}

.top-places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}
.top-places .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 29vw;
  height: 60vh;
}
.top-places .more {
  width: 118px;
  height: 42px;
  background: #006DFE;
  color: #FFFFFF;
  border: none;
}

/*# sourceMappingURL=style.css.map */
